---
layout: default
---

<h1>{{ page.title }}</h1>

<blockquote>
  <p>I can fly higher than a kite<br>
  and I write whatever I might<br>
  But if this somehow catches your sight<br>
  do justice and use it to win your fights<br>
  yet never assume it is one of your rights</p>
</blockquote>

<ul class="post-list">
  {%- for post in site.posts %}
    <li><a href="{{ site.github.url }}{{ post.url }}">{{ post.title }}</a></li>
  {%- endfor %}
</ul>

{%- for post in site.posts %}
  <div class="post-excerpt">
    <h2><a href="{{ site.github.url }}{{ post.url }}">{{ post.title }}</a></h2>
    {%- if post.image %}
      <a href="{{ site.github.url }}{{ post.url }}"><img src="{{ site.github.url }}/assets/img/{{ post.image }}" alt=""></a>
    {%- endif %}
    <p>{{ post.content | strip_html | truncate: 300 }}
      <a href="{{ site.github.url }}{{ post.url }}">Read more</a></p>
  </div>
{%- endfor %}
