---
layout: default
---

<div class="bio">
  <div class="bio-portrait">
    <img src="{{ site.github.url }}/assets/img/profile.jpg" alt="Soham Bakshi">
    <div class="bio-links">
      <a href="{{ site.github.url }}/assets/file/cv.pdf"><i class="fa-regular fa-file-lines" aria-hidden="true"></i> Curriculum Vitae</a>
      <a href="https://scholar.google.com/citations?user=WuIfUrYAAAAJ&hl=en" target="_blank" rel="noopener"><i class="fa-brands fa-google-scholar" aria-hidden="true"></i> Google Scholar</a>
    </div>
  </div>

  <div class="bio-text">
    {{ content }}
  </div>
</div>
